body {
	background-color: #f7f6f6;
	color: #4a4a4a;
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #9b5ba5;
	color: white;
}

#barre {
	display: flex;
	align-items: space-around;
}

.logocontainer {
	display: flex;
	align-items: center;
	width: 5%;
}

.logo {
	width: 69px;
	margin-right: 10px;
}
#search {
	padding: 10px;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background-color: #f7f6f6;
	color: #4a4a4a;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#filmscontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.film {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	margin-top: 75px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 280px;
}

.film img {
	width: 100%;
	border-radius: 5px;
}

.film-info {
	text-align: center;
	margin-top: 10px;
	margin-left: 0px;
}

.film-info h3 {
	color: #4a4a4a;
	margin: 0;
}

.film-info .note {
	color: #9b5ba5;
	margin-top: 5px;
}

.swiper {
	width: 600px;
	height: 300px;
}

.synopsis {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background-color: #ffffff;
	color: #4a4a4a;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: justify;
	height: 150px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
